table.dataTable th.focus, table.dataTable td.focus {
  outline: 2px solid #ee8d8d !important;
  outline-offset: -1px;
}

.ctm-order-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.table-delete {
  padding: 0 10px;
  color: #F44336;
}

.table-edit {
  padding: 0 5px 0 10px;
  color: #673AB7;
}

@media only screen and (max-width: 480px) {
  .widget-title {
    display: none;
  }
}
