table.dataTable th.focus, table.dataTable td.focus {
  outline: 2px solid #ee8d8d !important;
  outline-offset: -1px;
}

.ctm-order-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
