$primary: #1f91f3;

.edit-ctm-form {
  margin: 1.5rem;
}

.card-body {
  margin-top: -1.5rem;
}

#example-icons > .steps .number {
  display: none;
}

// material input 2

.material-group {
  position: relative;
  margin: 2rem 0 3rem 0;
}

.inputMaterial {
  font-size: 18px;
  padding: 10px 10px 10px 17px;
  display: block;
  width: 100%;
  color: #000;
  border: 1px solid #9b9b9b;
}

.inputMaterial:focus {
  outline: none;
}

/* LABEL ======================================= */

.material-label {
  color: #999;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 13px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
.inputMaterial:focus ~ .material-label, .inputMaterial:valid ~ .material-label {
  top: -11px;
  left: 7px;
  font-size: 14px;
  color: #9b9b9b;
  background: white;
  padding: 0 10px;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before, .bar:after {
  content: '';
  height: 1px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: $primary;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active state */
.inputMaterial:focus ~ .bar:before, .inputMaterial:focus ~ .bar:after {
  width: 50%;
}

/* active state */
.inputMaterial:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
