//@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "./style.scss";
@import "./layout.css";
@import "./themes/main_theme.scss";

body {
  background-color: #f2f2f2 !important;
}

.widget .widget-icon {
  background-color: initial;
}

.bg-color-purple {
  background-color: rgb(157, 157, 202) !important;
}

.bg-color-red {
  background-color: rgba(209, 128, 128, 0.9) !important;
}

.bg-color-teal {
  background-color: rgba(127, 185, 138, 0.9) !important;
}

.bg-color-blue {
  background-color: rgba(119, 165, 185, 0.9) !important;
}

.bg-color-orange {
  background-color: rgba(210, 178, 116, 0.9) !important;
}

.bg-color-green {
  background-color: rgba(110, 165, 140, 0.9) !important;
}

.bg-color-brown {
  background-color: rgba(213, 144, 112, 0.9) !important;
}

.bg-color-cyan {
  background-color: rgba(159, 123, 166, 0.9) !important;
}
